@font-face {
	font-family: 'Conv_DELLREPLICA-REGULAR_2';
	src: url(../../assets/fonts/DELLREPLICA-REGULAR_2.eot) format('embedded-opentype'),
	url(../../assets/fonts/DELLREPLICA-REGULAR_2.ttf) format('truetype'),
	url(../../assets/fonts/DELLREPLICA-REGULAR_2.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}